/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('background.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}

/* Header styles */
header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('cumrbia.mp4') no-repeat center/cover fixed; /* Background shorthand */
    height: 100vh;
    position: relative;
}

/* Style the title banner */
.title-banner {
    width: 1280px; /* Set the width to 970px */
    height: 350px; /* Set the height to 250px */
    position: absolute;
    top: 40%;
    bottom:30%;
    left: 25%;
    right:25%;
    transform: translate(-50%, -50%);
    background: transparent; /* Set the background to be transparent */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    animation: bounceTitle 20s linear infinite; /* Add a CSS animation */
}
/* Style for h1 element */
h1 {
    font-family: Copperplate, Papyrus, fantasy;
    color: #1f1d20; /* Red color for h1 */
}

/* Style for h2 element */
h2 {
    font-family: Georgia, serif;
    color: #e3e778; /* Green color for h2 */
}
/* Define the CSS animation */
@keyframes bounceTitle {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(calc(50% - 200px), -50%);
    }
    50% {
        transform: translate(-50%, calc(50% - 100px)); /* Adjust the values to bounce up */
    }
    75% {
        transform: translate(calc(50% - 200px), -50%);
    }
}

header video {
    width: 100%; /* Make the video responsive and take up the full width of the container */
    height: 100%; /* Make the video responsive and take up the full height of the container */
    object-fit: cover; /* Ensure the video covers the container */
}

/* Container styles */
.container {
    width: 1245px; /* Set the width to match the map's width (1200px) */
    height: 850px; /* Set the height to match the map's height (800px) */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: rgba(75, 41, 41, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Map styles */
.map {
    margin-bottom: 20px; /* Add some space between the map and mouse icon */
}

/* Retain custom mouse icon styles */
.mouse {
    /* Your custom mouse icon styles here */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    left: -200px;
    z-index: 1000;
    pointer-events: none;
}
